<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>

<body>
	<div style="margin-top: 60px" class="container">
		<h2>Login</h2>
		<form action="/login" method="POST" style="width: 30%">
			<div>
				<label>Username</label>
	    		<input class="form-control" type="text" name="username" placeholder="username" required>
		    </div>
		    </br>
	    	<div>
	    		<label>Password</label>
	    		<input class="form-control" type="password" name="password" placeholder="password" required>
		    </div>
		    </br>
		    	<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</body>
</html>